{% extends "base_file.html" %}
{% block title %}Edit Profile{% endblock %}
{% if current_user.is_authenticated %}
  {% block navbar %}
      <li><a href="/home" class="active">Home</a></li>
      <li><a href="/posts">Add Post</a></li>
      <li><a href="/connect">Connect</a></li>
      <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
        Welcome, {{current_user.Name}} <i class="bi bi-chevron-down toggle-dropdown"></i>
      </a>
      <ul class="dropdown-menu">
        <li><a href="/myprofile" class="dropdown-item">My Profile</a></li>
        <li><a href="/myposts" class="dropdown-item">My Posts</a></li>
        <li><a href="/logout" class="dropdown-item">Log Out</a></li>
      </ul>
    </li>
  {% endblock %}
  {% block body %}
      <br><center><h1>Update Your Profile Information</h1></center><br>
      {% include "messages.html" %}
      <div class="row">
        <div class="d-grid col-6 mx-auto">
            <form action='/editprofile' method='POST' enctype="multipart/form-data">
                <label for="Profile Image" class="form-label" aria-label="Profile Image">Profile Picture</label>
                <input type="file" class="form-control" value="{{current_user.ProfileImage}}" name="file">
                <br>
                <label for="Your Name" class="form-label" aria-label="Your Name">Name</label>
                <input type="text" class="form-control" value="{{current_user.Name}}" placeholder="Enter Name" name="name">                
                <br>
                <label for="Your Email" class="form-label" aria-label="Your Email">Email Address</label>
                <input type="email" class="form-control" value="{{current_user.Email}}" placeholder="Enter EMAIL" name="email">
                <br>
                <center><button type="submit" class="btn btn-success">SUBMIT</button></center>
            </form>
        </div>
      </div>
    {% endblock %}
{% endif %}
